{% extends 'base.html' %}



{% block title %} Servizi {% endblock %}



{% block body %}



<section class="content" style="margin-top: 50px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="width: 100%;">Servizi <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Aggiungi Nuovi Servizi</button></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>

                    <tr>
                        <th>tipologia</th>
                        <th>nome</th>
                        <th>descrizione</th>
                        <th>funzionamento</th>
                        <th>prezzo</th>
                        <th>Action</th>

                    </tr>
                 </thead>
                  <tbody>
                   {% for row in services %}
                    <tr>
                        <td>{{row.tipologia}}</td>
                        <td>{{row.nome}}</td>
                        <td>{{row.descrizione}}</td>
                        <td>{{row.funzionamento}}</td>
                         <td>{{row.prezzo}}</td>
                        <td>
                            <a href="/servizi/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}"><i class="fa fa-pencil"></i></a>
                            <a href="/servizi/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')"><i class="fa fa-times"></i></a>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Aggiorna Informazioni</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('updateServizi')}}" method="POST">


               <div class="form-group">


                  <label>Tipologia:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">

                  <input type="text" class="form-control" name="tipologia" value="{{row.tipologia}}">


               </div>

               <div class="form-group">


                  <label>Nome:</label>

                  <input type="text" class="form-control" name="nome" value="{{row.nome}}">


               </div>


               <div class="form-group">


                  <label>Descrizione:</label>

                   <textarea class="form-control" name="descrizione" value="{{row.descrizione}}"></textarea>


               </div>

               <div class="form-group">


                  <label>Descrizione:</label>

                   <textarea class="form-control" name="funzionamento" value="{{row.funzionamento}}"></textarea>


               </div>


               <div class="form-group">


                  <label>Prezzo:</label>

                  <input type="text" class="form-control" name="prezzo" value="{{row.prezzo}}">


               </div>

               <div class="form-group">


                  <label> Note:</label>

                   <textarea class="form-control" name="note" value="{{row.note}}">{{row.note}}</textarea>


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Aggiorna</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}
                 </tbody>
                  <tfoot>
                  <tr>
                    <th>codCliente</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>dataCheckIn</th>
                    <th>dataCheckOut</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
</div>


                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Aggiungi Servizio</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insertServizi')}}" method="POST">


               <div class="form-group">

                  <label>Tipologia:</label>
                  <input type="text" class="form-control" name="tipologia" required="1">


               </div>


                <div class="form-group">


                  <label>Nome:</label>
                  <input type="text" class="form-control" name="nome" required="1">


               </div>

                <div class="form-group">


                  <label>Descrizione:</label>
                    <textarea class="form-control" name="descrizione" required="1"></textarea>


               </div>

                <div class="form-group">


                  <label>Funzionamento:</label>
                    <textarea class="form-control" name="funzionamento" required="1"></textarea>


               </div>
                <div class="form-group">

                  <label>Prezzo:</label>
                  <input type="text" class="form-control" name="prezzo" required="1">


               </div>

                <div class="form-group">


                  <label>Note:</label>
                    <textarea class="form-control" name="note" required="1"></textarea>


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Aggiungi Servizio</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>


         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}