{% extends 'base.html' %}



{% block title %} Stanze {% endblock %}



{% block body %}


<section class="content" style="margin-top: 50px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="width: 100%;">Clienti Attuali <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Aggiungi Nuovi Clienti</button></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>

                        <th>pin</th>
                        <th>numero</th>
                        <th>nome</th>
                        <th>prezzo</th>
                        <th>descrizione</th>
                        <th>capacitaMax</th>
                        <th>posCamera</th>
                        <th>MQ</th>
                        <th>Vani</th>
                        <th>Accessori</th>
                        <th>Matrimoniale</th>
                        <th>Singolo</th>
                        <th>Castello</th>
                        <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>

                   {% for riga in rooms %}
                    <tr>
                        <td>{{riga.pin}}</td>
                        <td>{{riga.numero}}</td>
                        <td>{{riga.nome}}</td>
                        <td>{{riga.prezzo}}</td>
                        <td>{{riga.descrizione}}</td>
                        <td>{{riga.capacitaMax}}</td>
                        <td>{{riga.posCamera}}</td>
                        <td>{{riga.quadratura}}</td>
                        <td>{{riga.numVani}}</td>
                        <td>{{riga.numAccessori}}</td>
                        <td>{{riga.numLettiMatrimoniale}}</td>
                        <td>{{riga.numLettiSingolo}}</td>
                        <td>{{riga.numLettiCastello}}</td>
                        <td>
                            <a href="/stanze/update/{{riga.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{riga.id}}"><i class="fas fa-pencil-alt"></i></a>
                            <a href="/stanze/delete/{{riga.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')"><i class="fa fa-times"></i></a>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{riga.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Aggiorna Informazioni</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('updateStanze')}}" method="POST">


               <div class="form-group">


                  <label>Codice Pin:</label>
                   <input type="hidden"  name="id" value="{{riga.id}}">

                  <input type="text" class="form-control" name="pin" value="{{riga.pin}}">


               </div>

               <div class="form-group">


                  <label>Numero:</label>

                  <input type="text" class="form-control" name="numero" value="{{riga.numero}}">


               </div>


               <div class="form-group">


                  <label>Nome:</label>

                  <input type="text" class="form-control" name="nome" value="{{riga.nome}}">


               </div>

               <div class="form-group">


                  <label>Prezzo:</label>

                  <input type="text" class="form-control" name="prezzo" value="{{riga.prezzo}}">


               </div>

               <div class="form-group">


                  <label>Descrizione:</label>

                  <textarea class="form-control" name="descrizione" value="{{riga.descrizione}}"></textarea>


               </div>


               <div class="form-group">


                  <label>Capacita Max:</label>

                  <input type="text" class="form-control" name="capacitaMax" value="{{riga.capacitaMax}}">


               </div>


               <div class="form-group">


                  <label>Posizione Camera:</label>

                   <textarea class="form-control" name="posCamera" value="{{riga.posCamera}}"></textarea>


               </div>

               <div class="form-group">


                  <label>Quadratura:</label>

                  <input type="text" class="form-control" name="quadratura" value="{{riga.quadratura}}">


               </div>

               <div class="form-group">


                  <label>Num Vani:</label>

                  <input type="text" class="form-control" name="numVani" value="{{riga.numVani}}">


               </div>

               <div class="form-group">


                  <label>numAccessori:</label>

                  <input type="text" class="form-control" name="numAccessori" value="{{riga.numAccessori}}">


               </div>

               <div class="form-group">


                  <label>numLettiMatrimoniale:</label>

                  <input type="text" class="form-control" name="numLettiMatrimoniale" value="{{riga.numLettiMatrimoniale}}">


               </div>


               <div class="form-group">


                  <label>numLettiSingolo:</label>

                  <input type="text" class="form-control" name="numLettiSingolo" value="{{riga.numLettiSingolo}}">


               </div>


               <div class="form-group">


                  <label>numLettiCastello:</label>

                  <input type="text" class="form-control" name="numLettiCastello" value="{{riga.numLettiCastello}}">


               </div>

               <div class="form-group">


                  <label> Note:</label>

                   <textarea class="form-control" name="note" value="{{riga.note}}">{{riga.note}}</textarea>


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Aggiorna</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Aggiungi Stanza</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insertStanze')}}" method="POST">


               <div class="form-group">

                  <label>Codice Pin:</label>

                  <input type="text" class="form-control" name="pin" required="1">


               </div>

               <div class="form-group">


                  <label>Numero:</label>

                  <input type="number" class="form-control" name="numero" required="1">


               </div>


               <div class="form-group">


                  <label>Nome:</label>

                  <input type="text" class="form-control" name="nome" required="1">


               </div>

               <div class="form-group">


                  <label>Prezzo:</label>

                  <input type="text" class="form-control" name="prezzo" required="1">


               </div>

               <div class="form-group">


                  <label>Descrizione:</label>

                  <textarea class="form-control" name="descrizione" required="1"></textarea>


               </div>


               <div class="form-group">


                  <label>Capacita Max:</label>

                  <input type="text" class="form-control" name="capacitaMax" required="1">


               </div>


               <div class="form-group">


                  <label>Posizione Camera:</label>

                   <textarea class="form-control" name="posCamera" required="1"></textarea>


               </div>

               <div class="form-group">


                  <label>Quadratura:</label>

                  <input type="text" class="form-control" name="quadratura" required="1">


               </div>

               <div class="form-group">


                  <label>Num Vani:</label>

                  <input type="text" class="form-control" name="numVani" required="1">


               </div>

               <div class="form-group">


                  <label>numAccessori:</label>

                  <input type="text" class="form-control" name="numAccessori" required="1">


               </div>

               <div class="form-group">


                  <label>numLettiMatrimoniale:</label>

                  <input type="text" class="form-control" name="numLettiMatrimoniale" required="1">


               </div>


               <div class="form-group">


                  <label>numLettiSingolo:</label>

                  <input type="text" class="form-control" name="numLettiSingolo" required="1">


               </div>


               <div class="form-group">


                  <label>numLettiCastello:</label>

                  <input type="text" class="form-control" name="numLettiCastello" required="1">


               </div>


                <div class="form-group">


                  <label>Note:</label>
                    <textarea class="form-control" name="note" required="1"></textarea>


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Aggiungi Stanza</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>


         </div>


      </div>
         </div>


      </div>


   </div>
</section>


{% endblock %}