[Unit]
Description=Gunicorn instance to serve a chatbot
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ChatbotNutrizionisti
Environment="PATH=/home/ubuntu/ChatbotNutrizionisti/venv/bin"
ExecStart=/home/ubuntu/ChatbotNutrizionisti/venv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
